<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		
		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">nowato.pl</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Strona domowa</a></li>
					<li><a href="/products" class="link">Produkty</a></li>
					<li><a href="/values" class="link">Realizacje</a></li>
					<li><a href="/post" class="link">Blog</a></li>
					<li><a href="/contact" class="link">Kontakt</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Zobacz więcej</h3>
				<ul class="mb3">
					<li><a href="/post/jamaica-blue/" class="link">Najnowsze oferty</a></li>
					<li><a href="/contact" class="link">Skontaktuj się</a></li>
				</ul>
			</div>


		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>

</body>

</html>
